@use 'variaveis';

.elenco {
    margin: 2rem 0;

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button {
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 1rem;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            
            &--is-active {
                border-color: #000;
            }

            img {
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
            }
        }
    }

    &__list {
        display: none;
        justify-content: center;
        align-items: center;
        margin: 2rem 20rem;

        &--is-active {
            display: flex;
        }
        
        &__item {
            p {
                color: variaveis.$mainColor;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}


