@use 'variaveis';

header {
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: variaveis.$color5;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #fff;

        img {
            height: 15vh;
        }

        nav {
            width: 50%;

            ul {
                display: flex;
                justify-content: space-around;

                li {
                    a {
                        color: variaveis.$mainColor;
                        font-size: 1.5rem;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}