@use 'variaveis';
@use 'header';
@use 'hero';
@use 'enredo';
@use 'chars';
@use 'trailer';
@use 'ondeAss';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    color: #fff;

    @media (max-width: 767px) {
        overflow-x: hidden;
    }
}

body {
    background-color: variaveis.$color5;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

@mixin title($font-size: 3rem) {
    font-size: $font-size;
}

.title {
    @include title;
}