@use 'variaveis';
@use 'header';
@use 'hero';
@use 'enredo';
@use 'chars';
@use 'trailer';
@use 'ondeAss';
@use 'footer';

@font-face {
    font-family: Ringbearer;
    src: url(../../assets/fonts/RINGM___.TTF);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ringbearer;
    list-style: none;
    scroll-behavior: smooth;
    color: #fff;

    @media (max-width: 991px) {
        overflow-x: hidden;
    }
}

body {
    background-color: variaveis.$bgColor;
}

@mixin text($fontSize: 1rem) {
    font-size: $fontSize;
    color: variaveis.$mainColor;
    text-align: center;
}

@mixin title($fontSize: 2.5rem) {
    @include text($fontSize);
    color: variaveis.$mainColor;
    text-align: center;
}

.text {
    @include text;

    @media (max-width: 767px) {
        @include text(.8rem);
    }
}

.title {
    @include title;

    @media (max-width: 767px) {
        @include title(1.5rem);
    }
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

@mixin title($font-size: 3rem) {
    font-size: $font-size;
}

.title {
    @include title;
}