@use 'variaveis';
@use 'header';
@use 'hero';
@use 'enredo';
@use 'elenco';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@mixin title($font-size: 3rem) {
    font-size: $font-size;
}

.title {
    @include title;
}