@use 'variaveis';

.onde-ass {
    margin: 4rem 0;

    h3 {
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        width: 80%;
        border: 1px solid variaveis.$mainColor;
        border-radius: 10px;
        padding: 2rem;
        margin: 1rem auto;
        text-align: center;

        img {
            height: 7rem;
        }

        button {
            padding: 1rem;
            border: 1px solid variaveis.$mainColor;
            border-radius: 50px;
            background-color: variaveis.$bgColor;
        }
    }
}